html {
    font-family: "Times New Roman";
  }
  
  .grid-container {
    display:flex;
    column-gap: 20px;
  }
  .grid {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 0.8rem;
    display:grid;
    grid-template-columns: 1fr repeat(5,2fr);
    grid-template-rows: repeat(32,30px);
    width:50%;

  }
  .semester-header {
    grid-column: 1/ span 11;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
  }
  
  .time-header {
    grid-column:1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
  }

  .time-col {
    grid-column:1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
  }

  .monday-col {
    grid-column:2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
  }
  .tuesday-col {
    grid-column:3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
    
  }
  .wednesday-col {
    grid-column:4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
  }
  .thursday-col {
    grid-column:5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
  }
  .friday-col {
    grid-column:6/7;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0D0FB;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0px;
    border-right: 0px;
  }
  .course-name {
    font-size: 12px;
    font-weight:bold;
  }

  .course-lecture {
    font-size: 10px;
  }
  
  .course-time {
    font-size: 10px;
  }
  .first-course {
    cursor: pointer;
  }
  .first-course-first-slot {
    height: 60px;
    background-color: #FF9AA2;
    grid-column:2/3;
  }
  .first-course-second-slot {
    height: 120px;
    background-color: #FF9AA2;
    grid-column:5/6;
  }
  .second-course {
    cursor: pointer;
  }
  
  .second-course-first-slot {
    height: 60px;
    background-color: #FFDAC1;
    grid-column:5/6;
  }

  .second-course-second-slot {
    height: 120px;
    background-color: #FFDAC1;
    grid-column:5/6;
  }
  .third-course{
    height: 180px;
    grid-column:2/3;
    cursor: pointer;
  }

  .third-course-first-slot {
    height: 180px;
    background-color: #E2F0CB;
  }
  .third-course-first-slot:hover {
    background-color: #c7d6ad;
  }


  #first-course-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #second-course-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  #third-course-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .example .tf-nc {
    height: 60px;

  }
  #hci {
    background-color: #E2F0CB;
  }
  #selected2 {
    background-color: #FFDAC1;
  }
  #selected3 {
    background-color: #FF9AA2;
  }
  #post1 {
    background-color: #492A7E 
  }
  .post-div {
    color:white;
  }
  #prereq1, #prereq2, #prereq3, #prereq4, #prereq5 {
    background-color: #E0D0FB;
  }
  .tf-custom .tf-nc:before,
  .tf-custom .tf-nc:after {
    
  }
  .tf-nc:before {
    border-left-width: thick !important;
  }
  .tf-nc::after{
    border-left-width: thick !important;
  }
  .li:before{
    border-top-width: thick !important;
  }
  .tf-custom li li:before {
    
  }

  #prereq1:hover #prereqtip1 {
    visibility: visible;
  }
  
  
  #prereq1 #prereqtip1{
    visibility: hidden;
    font-size:12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  #prereq2:hover #prereqtip2 {
    visibility: visible;
  }
  #prereq2 #prereqtip2{
    visibility: hidden;
    font-size:12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  #prereq3:hover #prereqtip3 {
    visibility: visible;
  }
  #prereq3 #prereqtip3 {
    visibility: hidden;
    font-size:12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  #prereq4:hover #prereqtip4 {
    visibility: visible;
  }
  #prereq4 #prereqtip4 {
    visibility: hidden;
    font-size:12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  #prereq5:hover #prereqtip5 {
    visibility: visible;
  }
  #prereq5 #prereqtip5{
    visibility: hidden;
    font-size:12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  #post1:hover #posttip1 {
    visibility: visible;
  }
  #post1 #posttip1{
    visibility: hidden;
    font-size:12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* make the nodes round and change their background-color */
  .tf-ancestor-tree { position: relative; }
  .tf-ancestor-tree > ul { transform: rotateX(180deg); }
  .tf-ancestor-tree li ul { margin-bottom: 1em; }
  
  .node-text {
    display: inline-block;
    transform: rotateX(180deg);
  }