/* Topnav style */
.topnav {
    background-color: #492A7E;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #63419E;
    color: white;
  }

  /* Logo in topnav */
.logo {
  width: 110px;
  height: 45px;
  top: 10px;
  float: right;
  margin-right: 10px;
}

/* Page content style */
.content {
  width: 75%;
  padding-top: 10px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-left: 200px;
}

h1 {
  color: #492A7E;
  display: block;
  font-size: 1.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.card {
  border-radius: 10px;
  width: 100%;
  background-color: #E0D0FB;
  overflow: hidden;
}

.purple {
  color: #492A7E;
  padding-right: 10px;
  padding-left: 10px;
}

.selectdiv {
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
  width: 450px;
  font-size: 16px;
  font-family: "Times New Roman";
}

.button {
  background-color: #492A7E;
  color: white;
  font-size: 16px;
  font-family: "Times New Roman";
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

  .button:hover {
    background-color: #ddd;
  }